.container {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #666;
  padding: 30px;
  box-sizing: border-box;
}
.box {
  width: 95%;
  height: 400px;
  /*   background-color: yellow; */
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}
